<div class="container-fluid">
    <h3><%= user.email %></h3>
    <form method="POST" action="/profile/?_method=DELETE">
        <button type="submit" class="btn btn-dark">Delete Account</button>
    </form>
</div>