<div class="group-list">
    <div class="row">
        <div class="col-md-9">
            <h3 class="subheading h-size-1">All Groups</h3>
        </div>
        <div class="col-md-3">
            <a class="btn btn-dark" href="/group/new">New Group</a>
        </div>
    </div>
    <% if (groups.length < 1) { %> 
        <div class="alert">
            <h3>There are currently no groups</h3>
            <p>Why not create a <a href="/group/new" class="btn-link">new group</a>?</p>
        </div>
    <% } %>
    <% groups.forEach(group => { %>
        <div class="row">
            <div class="col-md-2">
                <img class="group-icon" src="https://avatars.dicebear.com/v2/jdenticon/<%=group.iconIdentifier%>.svg" alt="Group Icon" />
            </div>
            <div class="col-md-10 group-summary">
                <div class="row">
                    <div class="col-lg-9">
                        <h3 class="subheading h-size-2"><%= group.name %></h3>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2">
                        <a class="btn btn-dark" href="/group/<%= group.id %>">See More</a>
                    </div>
                </div>
                <div class="row group-description">
                    <p><%= group.description %></p>
                </div>
            </div>
        </div>
    <% }); %>
</div>