<div class="container-fluid">
    <a class="nav-link" href="/group">< Groups</a>
    <div class="group-info">
        <img src="https://avatars.dicebear.com/v2/jdenticon/<%=group.iconIdentifier%>.svg" alt="Group Icon" />
        <div class="col-8">
            <h3><%= group.name %></h3>
            <p><%= group.description %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Games Played</h3>
        </div>
        <div class="col-8">
            <h3>Upcoming Events</h3>
        </div>
    </div>
</div>