<% if (alerts.error) { %>
    <% alerts.error.forEach(msg => { %> 
        <div class="alert error">
            <%= msg %>
        </div>
    <% }); %>
<% } %>
<% if (alerts.success) { %>
    <% alerts.success.forEach(msg => { %> 
        <div class="alert success">
            <%= msg %>
        </div>
    <% }); %>
<% } %>
<% if (alerts.message) { %>
    <% alerts.message.forEach(msg => { %> 
        <div class="alert">
            <%= msg %>
        </div>
    <% }); %>
<% } %>