<div class="container-fluid">
    <h3 class="subheading">Your Upcoming Events</h3>
    <% if (events.length < 1) { %>
        <div class="alert">
            You have no upcoming events
        </div>
    <% } else { %>
        <% events.forEach(event => { %>
            <div class="event-result">
                <div class="row">
                    <h3 class="col-10"><%= event.name %></h3>
                    <div class="col-2">
                        <a class="btn btn-dark" href="/event/<%= event.id %>">See More</a>
                    </div>
                </div>
                <h6><%= event.dateTime %></h6>
                <p><%= event.description %></p>
            </div>
        <% }); %>
    <% } %>
</div>