<div class="row">
    <div class="col-6">
        <% include partials/auth/signup %>
        <% include partials/auth/login %>
    </div>
    <div class="col-1"></div>
    <div class="col-5">
        <h3 class="subheading">What is GameRally?</h3>
        <p>GameRally is a social interaction service to help you create and find board game groups! Instead of attending a general meetup and hope you'll find a group there that aligns to your interest within a big group of people, GameRally offers the ability to have groups tailored to your specific interests. Looking for a small group to start a new DnD campaign? Want to meet other people who enjoy various strategy games? GameRally is for you!</p>
        <p>Create or find a group within our site and then you're on your way! Each group has a max limit that your able to set, keeping your group from becoming too big and turning it into a general meet up group. We've also implemented the Board Game Atlas search engine in order for you to be able to find and add specific board games to your events! Join as many groups as you want, and get to playing sooner.</p>
    </div>
</div>