.alert {
    margin-top: 24px;
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 5px 10px gray;
}

.red {
    color: white;
    background-color: crimson;
}

.green {
    color: white;
    background-color: darkolivegreen;
}

.group-list {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.subheader {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 24px 0;
}

.subheader h2 {
    margin: 0;
    margin-top: 6px;
}

.new-group {
    width: 200px;
    margin: 8px 0;
}

.group-list .row {
    margin: 24px 0;
}

.group-info {
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
}

.breadcrumbs {
    margin: 24px 0;
}

.breadcrumbs a {
    display: inline;
    padding: 12px 0;
}