body {
    background-color: #fefefe;
    color: #084C61;
    font-size: 18px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #4F6D7A;
    font-family: "Teko", sans-serif;
    font-size: 24px;
    margin-bottom: 24px;
}

p {
    font-size: 1rem;
}

.nav-item {
    margin: 0 5%;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 1.6rem;
    color: #e3b505;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #e3b505;
    opacity: 0.5;
}

.main {
    flex: 1 0 auto;
    margin: 24px 10%;
}

.center {
    text-align: center;
}

.center h3 {
    margin: 24px;
}

.btn-dark {
    width: 85%;
    background-color: #4F6D7A;
    border-color: #4F6D7A;
    color: #fefefe;
}

.btn-dark:hover, .btn-dark:active, .btn-dark:focus {
    background-color: #084C61;
    border-color: #084C61;
}

.btn-link {
    text-align: start;
    color: #56A3A6;
}

.btn-link:hover, .btn-link:active, .btn-link:focus {
    color: #4F6D7A;
}

.form-group {
    margin-top: 24px;
}

.modal-header {
    background-color: #4F6D7A;
}

.modal-title {
    color: #fefefe;
    font-family: "Teko", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
}

.modal-button {
    margin: 0rem;
}

.form-label {
    text-transform: uppercase;
    color: #DB504A;
    font-family: "Teko", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    padding-top: 0px;
}

.form-control {
    border-color: #4F6D7A;
    border-width: 2px;
}

.form-check {
    margin-left: 15px;
}

.form-check-input {
    margin-top: 12px;
}
.navbar {
    padding-left: 10%;
    margin-bottom: 5%;
}

.navbar img {
    height: 32px;
    filter: drop-shadow(4px 4px 2px #084C61);
}

.alert {
    margin-top: 24px;
    border: 5px solid #084C61;
    border-radius: 10px;
}

.error {
    color: #fefefe;
    background-color: #DB504A;
}

.success {
    color: #fefefe;
    background-color: #56a3a6;
}

.group-list {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.subheading {
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    color: #DB504A;
    font-weight: 700;
}

.h-size-1 {
    font-size: 2.4rem;
}

.h-size-2 {
    font-size: 2rem;
}

.event-result {
    margin-top: 12px;
    padding: 4px;
}

.event-result h3 {
    font-weight: 700;
}

.game-header {
    margin-top: 48px;
    padding-top: 12px;
}

.query-result {
    margin-top: 5%;
}

.game-result {
    margin-top: 12px;
}

.group-list .row {
    margin: 24px 0;
}

.group-description {
    padding-left: 15px;
}

.group-info {
    margin: 24px 0;
}

.group-games h3 {
    margin-left: 15px;
}

.group-games h6 {
    margin-left: 15px;
    font-weight: 700;
}

.group-result {
    margin-top: 48px;
}

.breadcrumbs {
    margin: 48px -15px;
}

.breadcrumbs .btn-link {
    display: inline;
    padding: 12px 0;
}

.footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #e3b505;
    padding: 10px;
    padding-top: 15px;
}

.footer-link, .footer h4 {
    font-size: 1.4rem;
    font-family: "Teko", sans-serif;
}

.footer-link {
    color: #4F6D7A;
}

.footer-link:hover {
    color: #084C61;
}

@media only screen and (max-width: 768px) {
    .landing-page-heading {
        margin-top: 24px;
    }

    .login-link {
        padding-left: 0;
    }

    .group-list, .event-list, .query-result {
        text-align: center;
    }

    .group-icon {
        width: 150px;
    }

    .event-list img {
        margin: 0 auto;
    }

    .event-result h6 {
        margin-top: 12px;
    }

    .event-btn {
        margin: 12px 0;
    }

    .group-summary {
        padding-left: 0;
        padding-right: 0;
    }

    .group-summary p {
        text-align: center;
        width: 100%;
    }

    .game-result .col-4, .play-info .col-md-2 {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 12px;
    }

    .group-games h3, .group-games h6 {
        margin-left: 0;
    }

    .form-submit {
        text-align: center;
    }
}

@media only screen and (max-width: 576px) {
    .footer {
        flex-direction: column;
    }
}