<div class="breadcrumbs">
    <a class="nav-link" href="/group">< Groups</a>
    <a class="nav-link" href="/group/<%= groupId %>">< <%= group.name %></a>
</div>
<form method="POST" action="/event/new/<%= groupId %>">
    <div class="form-group">
        <label for="eventTime">Event Date and Time</label>
        <input type="datetime-local" class="form-control" id="eventTime" name="dateTime"/>
    </div>
    <div class="form-group">
        <label for="eventName">Event Name</label>
        <input type="text" class="form-control" id="eventName" name="name" />
    </div>
    <div class="form-group">
        <label for="eventDescription">Event Description</label>
        <input type="text" class="form-control" id="eventDescription" name="description" />
    </div>
    <div class="form-group">
        <label for="eventLocation">Event Location</label>
        <input type="text" class="form-control" id="eventLocation" name="location" />
    </div>
    <div class="form-group">
        <label>Is this a Virtual Event?</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="isVirtual" id="yes" value="true"/>
            <label class="form-check-label" for="yes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="isVirtual" id="no" value="false"/>
            <label class="form-check-label" for="no">No</label>
        </div>
    </div>
    <button type="submit" class="btn btn-dark">Create Event</button>
</form>